#TOP, #BOT, .pic-i, .sb-slidebar{display:none;}

* {
    margin: 0;
    padding: 0
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0
}

img {
    max-width: 100%;
}

a {
    text-decoration: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

section {
    display: block;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    min-width: 1200px;
    position: relative;
}

#header {
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1200px;
    position: fixed;
    background-color: #FFFFFF;
    height: 30px;
	border-bottom:1px solid #ededed;
    z-index: 2;
}

#navMenu {
    float: left;
    width: 194px;
    position: fixed;
    padding-left: 25px;
    padding-bottom: 20px;
	padding-top:15px;
    top:130px;
    left:0px;
    background-color: white;
	border-right:1px solid #ededed;
    height: 93%;
    z-index: 1;
}

#content {
    margin-left: 283px;
    margin-top:80px;
    margin-bottom: 20px;
    margin-right: 100px;
}

#mainContent {
    float: left;
    width: 100%;
}

#mainContent p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tablecontact td {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 12px;
}

nav ul li a {
    color: #000;
    font-weight: 600;
	letter-spacing:1px;
    transition: 0.2s;
	text-transform:uppercase;
}

nav ul li a:hover {
    color: #a78242;
}

nav ul li:hover ul.sub_menu li a {
    color: #000;
    transition: 0.2s;
}

nav ul li:hover ul.sub_menu li a:hover {
    color: #a78242;
}

li.none_hotline a:hover {
    color: #000;
    cursor: context-menu;
}

nav ul li ul.sub_menu {
    margin-top: 10px;
}

nav ul li ul.sub_menu li {
    margin-left: 10px;
	padding-bottom:10px !important;
}

nav ul li ul.sub_menu a {
    font-weight: normal;
	font-size:11px;
	color:#2A3F55;
}

nav ul li ul.sub_menu a.active {
    color: #a78242;
}

nav ul li a.active {
    color: #a78242;
}

#userMenu {
    width: 100%;
}

#userMenu ul {
    margin-right: 3%;
}

#userMenu ul li {
    float: left;
    list-style: none;
}

#userMenu ul li a{
	color:#2A3F55;
	line-height:30px;
	font-size:11px;
	letter-spacing:1px;
}

#userMenu ul li.giohang {
    display: block;
    background: url(../img/icon-giohang.png) no-repeat;
	background-position:0px center;
    margin-left: 5px;
    padding-left: 30px;
    white-space: nowrap;
}

#userMenu ul li.giohang a {
    margin-left: -10px;
}

#userMenu ul li.giohang a:hover {
    text-decoration: underline;
}

#userMenuLogin {
    float: right;
}

#userMenuLogin li a {
    color: #000;
    margin-left: 5px;
}

#navMenu input[type='text'] {
    border: 1px solid #797979;
    width: 148px;
    background: #FFF;
    border-right: none;
    padding:5px 0 5px 5px;
    outline: 0;
}

#navMenu input[type='text']::-webkit-input-placeholder {
    color: #797979;
}

#navMenu input[type='text']::-moz-input-placeholder {
    color: #797979;
}

#navMenu input[type='text']::-ms-input-placeholder {
    color: #797979;
}

#userMenu div {
    float: right;
    font-size: 12px;
    font-weight: bold;
}

#userMenu p {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px;
    padding-top: 0px;
    background: #000;
}

#list_filter {
    position:absolute;
	right:0;
	top:40px;
	z-index:9;
    font-size: 12px;
}

#list_filter li {
    text-transform: uppercase;
    display: inline-block;
	margin-right:10px;
}

.list_color {
    display: block;
    background-color: black;
    color: white;
    margin-right: 5px;
    line-height: 15px;
    padding: 0px;
}

.list_size {
    display: block;
    background-color: black;
    color: white;
    margin-right: 5px;
    line-height: 15px;
    padding: 0px;
}

.list_price {
    display: block;
    background-color: black;
    color: white;
    line-height: 15px;
    padding: 0px;
}

#box_filter {
    width:450px;
    margin-left: 283px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 20px 30px 30px;
    display: none;
}

#list_filter a {
    color: #000;
}

#box_filter_content {
    height: 224px;
    overflow-y: auto;
    overflow-x: hidden;
}

.box_list_color {
    /*
    max-width:250px;
    margin-top: 35px;
    margin-right: -174px;
    background-color: rgba(128, 128, 128, 0.2);
    display: inline-block;
    padding: 2px 0px 0px 0px;
    display: none;*/
    display: inline-block;
}

.box_list_color a {
    color: black;
}

.box_list_size {
    /*
    max-width:250px;
    margin-top: 35px;
    margin-right: -213px;
    background-color: rgba(128, 128, 128, 0.2);
    display: inline-block;
    padding: 5px 2px 2px 5px;
    display: none;*/
    display: inline-block;
}

.box_list_size a {
    color: black;
}

.box_list_price {
    /*
    max-width:180px;
    margin-top: 35px;
    margin-right: -269px;
    background-color: rgba(128, 128, 128, 0.2);
    display: inline-block;
    padding: 5px 2px 2px 5px;
    display: none;*/
    display: inline-block;
}

.box_list_price a {
    color: black;
}

.box_size {
    text-align: center;
    min-width: 18px;
    margin-bottom: 5px;
    margin-left: 3px;
    border: solid 1px #CCCCCC;
    background-color: white;
    font-weight: normal;
}

.box_size:hover {
    background: gray;
    opacity: 0.7;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.box_size a {
    display: inline;
    color: black;
    font-weight: normal;
    font-size: 12px;
}

.box_price {
    text-align: center;
    min-width: 18px;
    margin-bottom: 5px;
    margin-left: 3px;
    border: solid 1px #CCCCCC;
    background-color: white;
    font-weight: normal;
}

.box_price:hover {
    background: gray;
    opacity: 0.7;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.box_price a {
    display: inline;
    color: black;
    font-weight: normal;
    font-size: 12px;
}

.box_list_color span#box_mausac {
    margin-left: 3px;
    margin-bottom: 3px;
}

#navMenu input[type='submit'] {
    background: url(../img/bg-search.png) no-repeat;
    border: none;
    border: solid 1px #797979;
    border-left: none;
    margin-left: -10px;
    height: 27px;
    width: 25px;
}

#box_link {
    margin-top: 15px;
}

#box_link img {
    margin-right: 10px;
}

#box_address {
    margin-top: 10px;
    font-size: 10px;
	text-transform:uppercase;
    line-height: 17px;
}

#box_address a {
    color: #000000;
}

#detail_product {
    position: relative;
}

#img_product {
    float: left;
    width: 60%;
    margin-left: 10px;
    position: relative;
}

#img_product img:hover {
    cursor: zoom-in;
}

#detail_product .mausac {
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
    width:100%;
}

#detail_product .mausac h2 {
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin-top: 9px;
}

#img_product img {
    width:100%;
    height:auto;
    position: relative;
    margin-bottom: 10px;
}

#img_product a {
    display: block;
    margin: 5px;
    color: #000;
}

#info_product {
    padding-top: 30px;
    width: 35%;
    margin-left: 65%;
}

#info_product h1 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.box_gia {
    padding: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 20px !important;
    width: 192px;
    font-size: 14px;
}


#info_product h2 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    float: left;
}

#info_product ul {
    display: inline-block;
    margin-top: 20px;
    width: 230px;
}

#info_product ul li {
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
    border: solid 1px #ccc;
    padding: 5px;
    min-width: 18px;
    text-align: center;
    font-size: 13px;
}

#info_product ul a {
    color: #000;
}

#info_product ul li.active {
    border: solid 1px #a78242;
    background: #000;
}

#info_product ul li.active a {
    color: #fff;
}

span#box_mausac {
    display: block;
    width: 30px;
    height: 30px;
    border: solid 1px;
    cursor: pointer;
}

a.box_mausac {
    display: block;
    float: left;
    margin-left: 5px;
    padding: 2px;
    color: black;
}

a.box_mausac:hover {
    border: solid 1px #ccc;
    display: block;
    float: left;
    margin-left: 5px;
    padding: 2px;
}

a#active {
    border: solid 1px #ccc;
    display: block;
    float: left;
    margin-left: 5px;
    padding: 2px;
}

a.cachthuc {
    border: solid 1px #ccc;
    font-size: 14px;
    display: block;
    color: #000;
    text-transform: uppercase;
}

a.huongdan {
    border: solid 1px #ccc;
    font-size: 14px;
    display: block;
    color: #000;
    text-transform: uppercase;
}

#info_product a.cachthuc {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #ccc;
    font-size: 14px;
    display: block;
    color: #000;
}

#info_product a.huongdan {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #ccc;
    font-size: 14px;
    display: block;
    color: #000;
}

#info_product input.box_them {
    width: 202px;
    background: #000;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.box_them {
    background: #000;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

#chiase {
    clear: both;
    margin-top: 20px;

}

#chiase img {
    margin-right: 5px;

}

#chiase span {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
}

/*****************PRODUCTS******************/
#all_product {
    position: relative;
    overflow: hidden;
    border: solid 2px black;
}

.product {
    float:left;
    position: relative;
    width: 33.3%;
    padding-bottom: 33.33%;
}

.innerProduct {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    padding-right: 10px;
    vertical-align: bottom;
}

.innerProduct img {
    max-width: 100%;
}

.innerProduct h1 {
    margin-top: 10px;
    text-transform: uppercase;
}

.innerProduct h1, h2 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

/*****************gio hang******************/

#giohang {
    height:100%;
    background: #fff;
}

/************POP UP**************/
.overlay {

    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 3;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    color: #666;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 25%;
    visibility: hidden;
    z-index: 10;
    height:500px;
    overflow: hidden;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    min-width: 400px;
}

.overlay:target + .popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

/********END POP UP**********/

#giohang h1 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

#giohang table.giohang {
    background-color: white;
    width: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

#giohang .thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

#giohang table.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.first .th-inner {
    border-left: none;
    padding-left: 6px;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px;
    text-align: left;
    padding-left: 5px;
    margin-right: 2px;
    margin-left: -5px;
    white-space: nowrap;
}

#giohang thead th {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

#giohang table.giohang img.sanpham_giohang {
    width: 80px;
    height: 125px;
    float: left;

}

#giohang table.giohang tr td {
    font-size: 12px;
    padding: 10px;
}

#giohang a.cachthuc {
    width: 180px;
    border: none;
    margin-top: 20px;
    display: block;
    float: left;
}

table.tongcong_phi {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;

}

table.tongcong_phi span.thanhtien {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

table.tongcong_phi input[type='submit'] {
    margin-top: -100px;
}

table.tongcong_phi tr td {
    padding-bottom: 7px;
}

#giohang table.giohang input[type='number'] {
    width: 25px;
}

#giohang table.giohang p {
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding-top: 40px;
    width: 80px;
    float: left;
    margin-left: 5px;
}

span#box_outgiohang {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/out-giohang.png);
    float: right;
    margin-top: -60px;
}

#news_nav {
    text-align: center;
}

#news_nav a {
    font-size: 14px;
    color: black;
}

.news_container {
    width: 48%;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.news_image {
    width: 100%;
    height: 100%;
}

.news_image img {
    width: 100%;
    height: auto;
}

.news_title {
	font-family: Arial;
    font-size:24px;
	margin-top: 5px; 
	margin-bottom: 0px;
	text-align: center;
    font-weight: bold;
    width: 100%;
	height: 150px;
    position: absolute;
	background:rgba(225,225,225,0.7);
    bottom: 1px;
    z-index: 1;
	text-transform: uppercase;

}
.news_title a {
    color: black;
    font-size: 13px;
}

.news_detail_title {
    font-size: 25px;
    color: #a88243;
    margin-top: 10px;
}

.news_detail_date {
    font-size: 11px;
    color: #757575;
    margin-top: 5px;
}

#news_detail {
    width: 86%;
}

.news_detail_container {
    max-width: 660px;
}

.news_detail_container a {
    font-size: 14px;
    color: #000000;
}

.news_detail_description {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-top: 25px;
}

.news_detail_content {
    margin-top: 20px;
}

#news_nav {
    margin-top: 10px;
}

#news_nav a {
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    max-width: 880px;
    border-top: 1px solid black;
    padding-top: 10px;
}

/*****************THANH TOĂN******************/

#thanhtoan {
    width: 600px;
    display: inline-block;
}

#thanhtoan h1 {
    font-size: 16px;

}

#thanhtoan h1 a {
    float: right;
    margin-right: 100px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

#thanhtoan ul {
    margin-top: 30px;
}

#thanhtoan ul li {
    float: left;
    list-style: none;
    margin-right: 80px;
    font-size: 14px;
    padding-bottom: 20px;
}

#thanhtoan ul span {
    display: block;
    width: 496px;
    height: 8px;
    clear: both;
    margin-bottom: 30px;
}

#thanhtoan ul span.thanhtoan_step1 {
    background: url(../img/thanhtoan-step1.png) no-repeat;
}

.thanhtoan_step1 {
    width: 520px;
}

.thanhtoan_step1 h2 {
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

#form_login {
    padding-right: 20px;
    /*border-right: 1px solid;*/
    float: left;
    padding-bottom: 50px;
}

#form_login h2 {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

#form_login td {
    font-size: 12px;
    padding-bottom: 2px;
}

#form_login td input[type='text'], input[type='email'], input[type='password'] {
    width: 200px;
    margin-bottom: 15px;
}

#btn-login-fb {
    background: url(../img/login-fb.jpg);
    height: 32px;
    width: 100%;
}

.box_text {
    border: solid 1px;
    height: 30px;
}

td.btn {
    text-align: right;
    display: block;
}

#form_login a {
    color: #000;
    margin: 10px 0px 20px 16px;
    display: block;
    text-decoration: underline;
}

#form_login p.warning {
    margin-bottom: 10px;
}

#form-register {
    border:none;
    float:left;
    margin-left: 20px;
}

#form-register p.warning, p.success {
    margin-bottom: 20px;
}

#form-register p.success a {
    color: green;
}

#form-register h2 {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

#form-register td {
    font-size: 12px;
    padding-bottom: 2px;
}

#form-register td input[type='text'], input[type='email'], input[type='password'] {
    width: 200px;
    margin-bottom: 15px;
}

td.btn_taotk {
    text-align: right;
    display: block;
    margin-right: 43px;
}

#form_giaohang {
    width: 200px;
    float: left;
    padding-bottom: 50px;
}

#form_giaohang td {
    font-size: 12px;
    padding-bottom: 2px;
}

#form_giaohang td input[type='text'], input[type='email'], input[type='password'], input[type='tel'] {
    width: 200px;
    margin-bottom: 15px;
}

#form_giaohang td select {
    width: 200px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
}

#form_giaohang td textarea {
    border: 1px solid;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
}

td.btn_giaohang {
    margin-left: 62px;
    display: block;
    margin-top: 15px;
}

td.luudiachi {
    display: block;
    margin-left: 36px;
    padding-top: 15px;
}

span.thanhtoan_step3 {
    background: url(../img/thanhtoan-step3.png) no-repeat;
}

span.thanhtoan_step2 {
    background: url(../img/thanhtoan-step2.png) no-repeat;
}

#form_datmua {
    font-size: 12px;
}

footer {
    font-size: 14px;
    width: 880px;
    text-align: right;
    padding-top: 10px;
    border-top: 1px solid #7f7f7f;
    clear: both;
}

footer.thanhtoan1 {
    font-size: 12px;
    margin-top: 150px;
    padding-bottom: 20px;
}

footer.thanhtoan_step3 {
    font-size: 12px;
    margin-top: 300px;
    padding-bottom: 20px;
}

p.warning {
    color: red;
}

p.warning a {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

p.success {
    color: green;
}

#logo {
	width:120px;
    background: #fff;
}

#a-logo {
position:absolute;
z-index:9;
top:0;
left:0;
background:#FFF;
display:block;
border-right:1px solid #ededed;
width:219px;
text-align:center;
padding-top:30px;
padding-bottom:20px;
}

input[type=number]::-webkit-outer-spin-button {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

#book {
    margin-bottom: 10px;
}

#slideshow img {
    width: 100%;
}

#slides {
    position: relative;
    display: inline-block;
}

#previous {
    display: block;
    background-image: url('../img/previousbutton.png');
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 1;
    cursor: pointer;
    cursor: hand;
}

#next {
    display: block;
    background-image: url('../img/nextbutton.png');
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 100%;
    margin-left: -40px;
    z-index: 1;
    cursor: pointer;
    cursor: hand;
}

.flexslider {
    clear: both;
}

.flexslider .slides > li .centered img {
    min-height: 100% !important;
    min-width: 50% !important;
    width: auto !important;
    max-width: none !important;
    display: inline-block !important;
    margin-right: -100% !important;
}

.flexcarousel {
    width: 100%;
}

/********SEARCH********/

#box_search h1 {
    font-size: 12px;
    border-bottom: 1px solid;
    font-weight: bold;
    padding-bottom: 5px;

}

img.infor_search_img {
    height: 100px;
    float: left;
    margin: 5px;
    border: solid 1px #ccc;
    padding: 2px;
}

#infor_search_product {
    float: left;
    width: 190px;
}

#infor_search, #infor_search_product {

    font-size: 12px;
}

#infor_search a, #infor_search_product a {
    padding-top: 10px;
    font-weight: bold;
    display: block;
    color: #000;
    text-decoration: underline;
}

#box_result_news {
    clear: both;
}

#box_result_news h1 {
    padding-top: 20px;
}

h1.result {
    font-size: 14px;
    margin-bottom: 10px;
    color: #a78242;
    font-weight: bold;
}

#lookbooks img {
    width: 100%;
    height: auto;
}

/*******SHARE*******/

.addthis_toolbox {
    margin-top: 10px;
}

#box_send_mail {
     visibility: hidden;
     background: #f5f5f5;
     position: fixed !important;
     top: 30% !important;
     left: 45% !important;
     margin-top: -94px !important;
     margin-left: -180px !important;
     z-index: 101;
     width: 500px;
     padding-bottom: 20px;

 }

#box_send_mail h1 {
    font-size: 16px;
    background: #fff;
    padding: 10px;
    padding-left: 20px;
}

#box_send_mail h2 {
    text-align: left;
    padding: 20px;
    background: #ededed;
    text-transform: uppercase;
}

#box_send_mail h2 a {
    font-size: 12px;
    text-decoration: underline;
    color: #a88243;
    margin-right: 40px;
}

#box_send_mail form {
    margin: 20px 0px 20px 20px;

}

.box_text_send {
    height: 25px;
    width: 450px;
    margin-bottom: 10px;
    outline: 0;
}

#box_send_mail form textarea {
    height: 100px;
    width: 455px;
    font-family: arial;
    outline: 0;

}

#box_send_mail form input[type='email'] {
    height: 25px;
    width: 450px;
}

.bottom_form p {
    font-size: 12px;
}

.bottom_form input[type='submit'] {
    padding: 5px;
    border: none;
    background: #a88243;
    color: #fff;
}

.bottom_form input[type='text'] {
    width: 60px;
    height: 20px;
}

.close-lb {
    background: url(../img/close-lb.gif) no-repeat 0px 0px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .4);
    z-index: 3;
    display: none;
    top: 0;
    left: 0;
}

#share {
    margin-top: 10px;
    width: 120px;
}

#share span {
    font-size: 12px;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

#share a {
    margin-left: 1px;
}

.share_book {
    float: right;
}

.share_book span {
    margin-top: 5px;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jslider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jslider ul {
    width: 200000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jslider li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

.jslider img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/*******CONTACT*********/
#contact h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

#contact table th {
    font-size: 12px;
}

#contact form input[type='text'] {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    outline: 0;
}

#contact form input[type='email'] {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    outline: 0;
}

#contact form textarea {
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
    outline: 0;
    font-family: arial;
}

#contact-header {
    margin-bottom: 20px;

}

#footer-contact {
    margin-top: 20px;
}

#contact p.success {
    font-size: 16px;
    font-weight: bold;
}

#contact p.warning {
    font-size: 16px;
    font-weight: bold;
}

a.link_out {
    text-decoration: none;
}

a.link_out:hover {
    text-decoration: underline;
}

.arrow {
    opacity: 0.5;
    border-style: solid;
    border-width: 5px 5px;
    height: 0;
    width: 0;
    overflow: hidden;
}

.arrow:hover {
    opacity: 1;
}

.arrow.up {
    position: absolute;
    left: 10px;
    border-color: transparent transparent black transparent;
    top: 5px;
}

.arrow.down {
    position: absolute;
    left: 10px;
    border-color: black transparent transparent transparent;
    bottom: 200px;
}

.arrow.left {
    border-width: 5px 6px;
    opacity: 1;
    border-color: transparent black transparent transparent;
}

.arrow.right {
    border-width: 5px 6px;
    opacity: 1;
    border-color: transparent transparent transparent black;
    margin-left: 15px !important;
}

#box_nav {
    width: 100%;
    height: 100%;
    padding-right: 18px;
}

.list-language {
    position: absolute;
    top: 23px;
    display: none;
    margin-left: -25px;
    padding: 10px 20px 20px;
}

.list-language li a {
    font-size: 10px;
    text-decoration: underline;
}

.list-language .current {
    font-weight: bold;
}

.userLang {
    display: inline-block;
}

.userLang li {
    text-align: -webkit-match-parent;
}

.userLang li a {
    display: block;
}

#box_register .box_text {
    width: 350px;
}

#box_register th {
    padding-bottom: 10px;
}

span.warning {
    color: red;
}

.lazy {
    display: none;
}

.productDetail {
    width: 100%;
    padding: 0;
    overflow: hidden;
    list-style: none;
    }
.productDetail li {
    float: left;
    width: 48%;
    padding-right: 10px;
    padding-bottom: 10px;
}
.productDetail img {
    display: block;
    max-width: 100%;
}

.productDetail h1 {
    margin-top: 10px;
    text-transform: uppercase;
}

.productDetail h1, h2 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.productDetail li:nth-child(odd) {
    clear: left;
}

@media screen and (min-width: 700px) {
    .productDetail li.three {
        width: 31.5%;
    }

    .productDetail li.five {
        width: 18.45%;
    }

    .productDetail li.three:nth-child(odd) {
        clear: none;
    }
    .productDetail li.three:nth-child(3n+1) {
       clear: left !important;
    }

    .productDetail li.five:nth-child(odd) {
        clear: none;
    }
    .productDetail li.five:nth-child(5n+1) {
        clear: left !important;
    }

}

.figure-container {
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height:369px;
}

.figure-container.five{
    min-height:0px;
}

figure:hover .figure-overlay {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    z-index: 1;
}

figure:hover .figure-overlay:before {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 1;
    /* background: rgba(255, 255,255, 0.5); */
}

.figure-overlay {
    color: #FFF;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.figure-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.figure-overlay a {
    z-index: 3;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.figure-overlay .text {
    margin-top:30%;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
}

.figure-overlay .text.five {
    margin-top:18%;
    padding-left:6%;
    padding-right:6%;
}

.text h2 a {
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 25px;
    font-weight: normal;
    display: block;
}

.text h2 a.five {
    font-size: 14px;
    line-height: 16px;
}

.figure-overlay .amount {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}

.figure-overlay .amount.five {
    font-size: 11px;
}

.figure-overlay .code {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}

.figure-overlay .code.five {
    font-size: 11px;
    margin-bottom: 0px;
}

.separator_overlay {
    width: 80%;
    z-index: 100;
    display: inline-block;
    position: relative;
    border-bottom: solid 1px #fff;
}

.add-to-cart-button {
    background: transparent;
    border: solid #FFF 1px;
    color: #FFF;
    padding: 5px 12px 4px;
    bottom: 0px;
    z-index: 3;
    position: relative;
    width: 80%;
    height: 10%;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand;
    letter-spacing: 1px;
}

.add-to-cart-button.five {
    font-size: 12px;
    margin-top: 5%;
}
.add-to-cart-button:hover {
    color: #db3484;
    border-color: #db3484;
}

#scroll_top {
    cursor: pointer;
    display: none;
    opacity: 0.8;
    position: relative;
    left: 10px;
    z-index: 999;
    white-space: nowrap;
}

#bottom_bar {
    position: fixed;
    bottom: 10px;
    z-index: 999;
}

#cartheader {
    height: 30px;
}

#cartcontent {
    overflow: hidden;
    position: relative;
    height: 340px;
    margin:auto;
}

#cartfooter {
    height:12px;
}

#carttableheader {
    height: 30px;
    border-bottom: solid 1px #cccccc;
}

#carttablecontent {
    overflow-x: hidden;
    overflow-y: auto;
    height: 310px;
}

.clear{width: 100%; clear: both; height: 0px; line-height:0px;}

#howto {
    height: 400px;
}

#howto h1 {
    font-size: 15px;
    font-weight: normal;
}

#howto p {
    font-size: 13px;
    padding-bottom: 20px;
}

#giohang table.giohang_main h1 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
}

#giohang table.giohang_main {
    border-bottom: solid 1px #cccccc;
    width: 100%;
}

#giohang table.giohang_main th {
    border-bottom: solid 1px #cccccc;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
}

#giohang table.giohang_main img.sanpham_giohang {
    max-width: 80px;
    height: auto;
}

#giohang table.giohang_main tr td {
    font-size: 12px;
    padding: 10px;
}

.old_price {
    text-decoration: line-through;
}

.new_price {
    color: red;
}

#zoomContainer {
    position : fixed;
    left : 0;
    top : 0;
    right: 0;
    bottom:0;
    display : none;
    overflow : hidden;
    z-index: 1000;
    background-color: white;
}
#zoomContainer img {
    position : absolute;
    top : 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

#imageContainer {
    margin:auto;
}

#imageContainer:hover {
    cursor: zoom-out;
}

#filter_form_content {
    max-height:400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#filter_form .button {
    cursor: pointer;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: transparent;
    color: #000;
    font-size: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    margin-left: 15px;
    float: right;
    border: 1px solid #777;
}

#box_filter fieldset {
    margin: 20px 15px 20px 15px;
    display: inline-block;
    display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    text-align: left;
    white-space: nowrap;
}

#box_filter fieldset h4 {
    display: block;
    font-size: 12px;
    margin: 0 9px 15px;
    text-transform: uppercase;
    padding-left: 5px;
}

#box_filter fieldset label {
    display: block;
    color: #999;
    cursor: pointer;
    margin: 0 9px 7px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: bottom;
}

.selected {
    color: #000 !important;
    font-weight: bold !important;
}

#box_filter fieldset input {
    position: absolute;
    left: -9999px;
}

#box_filter input {
    display: block;
    float: right;
}

#box_filter form {
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.view-three {
    background: url(../img/view_three.png) no-repeat 0 0;
    width: 34px;
    height: 22px;
    display: inline-block;
}

.view-five {
    background: url(../img/view_five.png) no-repeat 0 0;
    width: 38px;
    height: 22px;
    display: inline-block;
}

.product_nav {
    width: 100%;
}

.product_nav a {
    display: inline-block !important;
}

.product_nav div {
    display: inline-block;
    height: 25px;
}

.div-left {
    float:left;
}

.div-right {
    float:right;
    text-align: right;
    min-width: 100px;
}

.div-clear {
    clear:both;
}

.flatbutton {
    cursor: pointer;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: transparent;
    color: #000;
    font-size: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #777;
    display: inline-block;
}

td.left {
    text-align: left !important;
}

td.right {
    text-align: right !important;
}

table.order {
    margin-top:10px;
    /*border-bottom: solid 1px #cccccc;*/
    width: 100%;
}

table.order td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

table.order th {
    border-bottom: solid 1px #000;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 0px 5px 10px 5px;
}

table.order img.small-product {
    max-width: 80px;
    height: auto;
}

table.order tr td {
    font-size: 12px;
    padding: 10px;
}

table.order.product td {
    font-size: 11px;
    padding: 5px;
}

table.order.product th {
    border-bottom: solid 1px #000;
    font-size: 12px;
    text-align: left;
    padding: 0px 3px 5px 3px;
}

.order_product {
    width: 100%;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.order_product li {
    list-style: none;
    float: left;
    width: 48%;
    text-align: left;
    margin-left: 10px;
}

.order_product li div {
    display: inline-block;
    text-align: left;
    height: 100%;
    vertical-align: top;
    margin-left: 10px;
    line-height: 20px;
}

.order_product li:nth-child(odd) {
    clear: left;
}

@media screen and (min-width: 700px) {
    .order_product li {
        width: 31.5%;
    }

    .order_product li:nth-child(odd) {
        clear: none;
    }
    .order_product li:nth-child(3n+1) {
        clear: left !important;
    }

}

.box_mausac_small {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px;
}

#changeLanguage:hover {
    text-decoration: underline;
}

#section_comment {
    margin-top: 20px;
    font-size: 13px;
}

#section_comment span {
    text-transform: uppercase;
}

.comment_detail {
    margin-bottom: 15px !important;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    font-size: 12px !important;
    line-height: 20px;
}

#section_comment div:last-child {
    border-bottom: none;
}

.comment_detail h3 {
    font-size:12px !important;
    font-weight: bold;
}

.comment_detail span {
    text-transform: none !important;
}

.view-more {
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

.view-more:hover {
    text-decoration: underline;
}

.complete {
    display: none;
}

#box_comment {
    visibility: hidden;
    background: #f5f5f5;
    position: fixed !important;
    top: 30% !important;
    left: 45% !important;
    margin-top: -94px !important;
    margin-left: -180px !important;
    z-index: 101;
    width: 500px;
    padding-bottom: 20px;

}

#box_comment h1 {
    font-size: 16px;
    background: #fff;
    padding: 10px;
    padding-left: 20px;
}

#box_comment h2 {
    text-align: left;
    padding: 20px;
    background: #ededed;
    text-transform: uppercase;
}

#box_comment form {
    margin: 20px 0px 20px 20px;

}

#box_comment form textarea {
    height: 150px;
    width: 455px;
    font-family: arial;
    outline: 0;
}

.brief {
    padding-bottom: 10px;
}

.complete {
    padding-bottom: 10px;
}

.sale_new_icon {
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

.burst-8 {
    position: absolute;
    right:-47px;
    top:28px;
    border-bottom: 50px solid #FF022B;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45eg);
    z-index: 1;
}

.burst-8-text {
    position: absolute;
    right:-45px;
    top:45px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    z-index: 2;
    color: white;
    font-size:22px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial;
    background-color: transparent;
    letter-spacing: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45eg);
    white-space: nowrap;
}

.success {
    color: green;
    background: #d1fde1;
    margin-bottom: 10px !important;
}

.warning {
    color: red;
    background: #fdd1d1;
    margin-bottom: 10px !important;
}
