#show_cart{
	text-align: center;	
}

#show_cart td{
	border: #F0F0F0 solid 1px;
	padding: 5px;
	background: #FFF;
    -webkit-border-radius:  4px;
}

#show_cart td.hinhanh{
	width: 120px;
	padding: 10px 0 10px 0;
}

#show_cart td.tenmh{
	width: 258px;
}

#show_cart td.tenmh a{
	color: #333;
	font-weight: bold;
}

#show_cart td.soluong{
	width: 150px;
	text-align: center;
}

#show_cart td.tuychon{
	width: 100px;
}

#show_cart .txt_soluong_mh{
	text-align: center;
	width: 30px;
	line-height: 30px;
}


#show_cart #uporcheck td{
	padding: 20px 0 10px 0;
	background:none; 
	border:none;
}

#show_cart #uporcheck .button{
	padding: 5px;
}

#show_cart #head_showcart td{
	background: #09f;	
	color: #FFF;
	line-height: 20px;
	font-weight: bold;
	border: 1px solid #09f;
}

#show_cart .btn_luu, #show_cart .txt_soluong_mh{
	float: left;	
}

#show_cart .txt_soluong_mh{
	margin: 0 0 0 36px;
}

#show_cart .btn_luu input.button{
	line-height: 24px;
	margin: 0 0 0 5px;
	padding: 3px 5px 3px 5px;
}

.btn_thanhtoan{
	border: none;
	background: url(../images/thanhtoan.png);
	margin: 0 2px 0 0;
	padding: 0;
	width: 112px;
	height: 40px;
	cursor: pointer;
	float: right;
}

.checkout_item_price{
	color:#F00;
}

.checkout_item_name{
	margin: 20px 0 0 0;
}