
.border_bot{
	margin-bottom: 10px;
}

.search_type, .search_list_mathang, .border_bot{
    width:145px;
    font-weight:bold;
    border-bottom:#ccc solid 1px;
}

a.search_techspec{
	color: #82837f;
	border: none;
}

.search_list_mathang{
	font-size:12px;
	text-transform: uppercase;
}

.search_list_mathang:hover, a.search_techspec:hover{
	cursor: pointer;
	color: #0099ff;	
	border-bottom:#ccc solid 1px;
}

.menu_hangsx ul li ul.sub_item li a:hover{
	color: #0099ff;	
	text-decoration:underline;
}

.menu_hangsx ul li ul.sub_item{
	display:none;
}

.menu_hangsx ul li ul.sub_item a{
	color:#000;
}

.menu_hangsx ul li.selected ul.sub_item{
	display:block;
	margin-top: 5px;
}

.menu_hangsx ul li ul.sub_item li{
	margin: 0 0 0 20px;
	list-style-type: circle;
}


.search_text{
	float: left; 
	height: 28px; 
	width: 100px;	
}

.sidebox-body-cnt select{
	float: left;
	height: 30px; 
	width: 107px; 
}

.btn_left_search{
	width: 30px; 
	height: 30px; 
	line-height: 30px; 
	float:right; 
	margin: 0px 9px 0 0; 
	background: url(../images/search.png) center no-repeat;	
}

.sidebox {
    width:174px;
}

.sidebox-head-r {
    background: url(../images/sidebox/tr.jpg) no-repeat top right;
}

.sidebox-head-l {
    padding: 0px 17px 0px 17px;
    background: url(../images/sidebox/tl.jpg) no-repeat top left;
}

.sidebox-head-c {
    height:20px;
    padding: 11px 0px 1px 0px;
	font-size:12px;
    background: url(../images/sidebox/tc.jpg) repeat-x top left;
}

.sidebox-head-cnt {
    text-align: center;
    text-shadow:0px 1px 0px #bbb;
    font-weight:bold;
    color:#434343;
}

.sidebox-body-r {
    background: url(../images/sidebox/br.jpg) repeat-y bottom right;
}

.sidebox-body-l {
    padding: 0px 6px 0px 6px;
    background: url(../images/sidebox/bl.jpg) repeat-y bottom left;
}

.sidebox-body-c {
    padding: 15px 0px 0px 8px;
    background-color: #fbfbfb
}

.sidebox-foot-r {
    background: url(../images/sidebox/fr.jpg) no-repeat bottom right;
}

.sidebox-foot-l {
    padding: 0px 10px 0px 15px;
    background: url(../images/sidebox/fl.jpg) no-repeat bottom left;
}

.sidebox-foot-c {
    height:15px;
    background: url(../images/sidebox/fc.jpg) repeat-x bottom left;
}

.btn_left_search:hover{
	cursor:pointer;
}

#master_control .search_list_mathang a, #master_control .search_list_mathang{
	color: #82837f;
	text-transform:capitalize;
	font-weight:normal;
	margin: 10px 0 3px 0;
}

#master_control .search_list_mathang a:hover, #master_control .search_list_mathang:hover{
	color: #09F;
}
