 #img_details_product, .line_details_product, #clip_details_product, .info_tenmh{
	text-align:center;
}	

#img_details_product img{
	height: 300px;
}	

#detail_product .info_tenmh{
	text-transform:uppercase;
	font-size: 26px;
	margin: 0 0 15px 0;	
	line-height: 50px;
	color: #333;
	
}

.techspec{
	width: 610px;
	background: #e9e9ea;
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;
	padding: 20px 30px 20px 30px;		
}

.techspec .tenmh, {
	color: #0099ff;
	font-size:24px;
}

.thongsokythuat{
	font-size: 16px;
	margin: 5px 0 10px 0;	
}

.techspec .dotted_line_ngang{
	width: 100%;	
}

.techspec_small{
	background:whiteSmoke;		
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;
	padding: 10px 20px 10px 20px;
}

.over_info{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.techspec_small table{
	font-size: 12px;
	margin: 0 0 0 120px;
}

.techspec_small .dt_left{
	width: 150px;
	color: #333;
}

.techspec_small .dt_right{
	width: 195px;
	font-style: italic;	
	padding: 5px;
}

.techspec_small .dt_right_full{
	font-style: italic;	
	padding: 5px;
}

.comment b{
	color: #000;
	line-height: 20px;
}

.compare .techspec_small table{
	font-size: 12px;
	margin: 0 0 0 0;
}
