*{
	margin:0px;
	padding: 0px;
	border: none;	
}

body{
	font-family: Arial,Verdana,sans-serif;
	font-size:13px;
	color:#82837F;
	width: 1024px;
	margin:auto;
	
}

a{
	text-decoration:none;	
	color:#82837F;
}

li{
	list-style-type:none;	
}

.input-text, .input-textarea, fieldset, select, input, .form{
    -moz-border-radius:  4px;
    -webkit-border-radius:  4px;	
    border: 1px solid #ccc;
	
}

.button{
    background-color: #cccccc;
    color: #ffffff;
	font-size:11px;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    -moz-border-radius:  3px;
    -webkit-border-radius:  3px;
}

.button:hover{
    color: #82837F;
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

input{
	color:#82837F;
	padding: 0 3px 0 3px;
}


fieldset
{
    padding: 5px;
}

select
{
	color: #82837F;
    height: 20px;
}

/*Logo*/
#logo{
	height: 105px;	
}
#avatar, #rss, #slogan{
	margin-top:10px;
	float:left;	
}

#slogan{
	width: 400px;	
	margin-top:30px;
	padding-left:5px;
	line-height:25px;
	border-left:1px solid #82837F;
}

#rss{
	margin-top:35px;	
}

a:visited{
	color: #000;
}

.adv_header{
	width: 1024px;	
	text-align:center;
}

