#title_history{
	color: #fff;
	background: url(../images/tit_his.png) no-repeat right;
	width: 325px;
	height: 23px;	
	line-height: 23px; 
	padding-left: 10px;
	border-left: 3px solid #EA0006;
	font-weight: bold;
	text-align: center;
}

.empty_history{
	text-align: center;
	font-size: 14px;
}