#hello{
	float:left;
	text-align:center;
	width: 670px;	
}

.level_product, .techspec .tenmh{
	color: #0099ff;
	font-size:24px;
}	

.limit_price{
	font-size: 16px;
}	

.type_product input.dotted_line_ngang{
	width: 670px;	
}

.table_list_product td{
	width:220px;
	height: 100px;
}

.list_product_center_item{
	border-left:1px dotted #CCCCCC;
	border-right:1px dotted #CCCCCC;	
}

.list_product_tenmh{
	color:#333;	
	text-align:center;
	font-weight:bold;
	line-height:25px;
}

.list_product_hinhanh, .list_product_gia_img, .list_product_addtocart{
	float:left;	
}

.list_product_hinhanh{
	height:80px;
	width:80px;
	text-align:center;
}

.list_product_gia{
	margin: 15px 0 0 0;
	font-size: 12px;
	color:#F00;
}

.list_product_addtocart{
	margin: 10px 0 0 0;
}

.table_list_product a{
	color: #333;
}

.table_list_product a:hover{
	color: #82837F;
}